[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
image = "*"
pil = "*"
pillow = "*"
scipy = "*"
opencv-python = "*"
netpbmfile = "*"
jupyter = "*"

[requires]
python_version = "3.6"
